button {
    margin: 0.25rem;
}
.row {
    align-items: center;
}
td#QQ {
    width: 3rem;
}
td#name {
    width: 6rem;
}
td#level {
    width: 1rem;
}
td#reason {
    width: auto;
}
td#opreatorName {
    width: 6rem;
}

@media(max-width:1200px) {

    table {
        margin-top: 1.2rem;
        font-size: 2.8em;
    }
    
    tr {
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
    }

    .modal.fade#maddOneMoadl{
        width: 100vw;
        height: 100vh;
    }

    .btn-xq {
        font-size: 2.7rem;
    }

    a.page-link {
        font-size: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .page-item:first-child .page-link {
        border-top-left-radius: 1.25rem;
        border-bottom-left-radius: 1.25rem;
    }
    .page-item:last-child .page-link {
        border-top-right-radius: 1.25rem;
        border-bottom-right-radius: 1.25rem;
    }

}

td {
    vertical-align: middle;
    /*设置表格文字在一行显示*/
    text-overflow:ellipsis;
    word-break:keep-all; 
    white-space:nowrap;
}
