.db, .dc {
    margin-bottom: 3px;
}

.da {
    margin: 2.6rem;
}

dl {
    display: block;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#profile-avatar {
    height: 15rem;
    width: 15rem;
}

#profile-back {
    font-size: 2rem;
}

dt {
    margin-top: 1.5rem;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

#btn-avatar, #btn-save {
    margin-top: 1.5rem;
}
