
@media(max-width:1100px){ html { font-size:50px; } } /*Android常用宽度*/
/*@media(max-width:480px){ html { font-size:75px; } }		/*Android常用宽度*/
/*@media(max-width:414px){ html { font-size:64.69px; } }  /*i6Plus,i7Plus宽度*/  
/*@media(max-width:375px){ html { font-size:58.59px; } }	/*i6,i7宽度*/
/*@media(max-width:360px){ html { font-size:56.25px; } }	/*Android常用宽度*/
/*@media(max-width:320px){ html { font-size:50px; } }		/*i5宽度*/
body {
  padding: 50px;
  font-family: "微软雅黑", "Microsoft Yahei", "苹方", "Pingfang SC";
}

a {
  color: #00B7FF;
}

p {
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#alert, #userGroup{
  font-size: small;
}

#avatar {
  height: 80px;
  width: 80px;
}

.avatar, label {
  padding: 0;
  margin-bottom: 0;
}

#userInfo {
  padding: 30px;
  background-color: #ffffff;
}

#userName {
  font-size: x-large;
}

.form-item {
  padding: 3px;
}