extends layout

block content
  //- 巨幕（头图
  .jumbotron.row
    .intro-box.col-lg-7
      h1.display-4 避雷针
      h5.lead 约稿避雷辅助工具
      button.btn.btn-outline-primary.d-none.d-xl-block 了解详情
    //- 用户信息
    .userInfo-box.col-lg-5
        .jumbotron.row.shadow#userInfo
          //- .avatar.col-4
          //-   +outputAvatar(userInfo.id)
          //- .intro.col-4#intro
          //-   strong#userName!= userInfo.nick
          //-   p#userGroup 
          //-     +outputGroupName(userInfo.group)
          //-   p#zzz
          //-     +outputWelcome()
          //- .userCtrl.col-4.text-center
          //-   button.btn.btn-primary.btn-block.btn-min.btn-userCtrl#btn-profile(onclick="j2where('/space')") 个人中心
          //-   button.btn.btn-outline-secondary.btn-block.btn-min.btn-userCtrl#btn-logout(onclick="j2where('/logout')") 登出
          .h3.col-8.text-center 您好，请登录~
          .userCtrl.col-4.tex-center
            button.btn.btn-primary.btn-block.btn-min.btn-userCtrl#btn-profile(onclick="j2where('/login')") 登录
            button.btn.btn-secondary.btn-block.btn-min.btn-userCtrl#btn-profile(onclick="j2where('/register')") 注册

            
  .search-model
    //- 查询模块
    div
      h3.d-none.d-xl-block 避雷查询
      .alert.alert-primary(role="alert")
        strong.alert-heading 请注意
        p#alert 您的登录状态将决定您的查询权限，即信息的显示详细程度。
        p#alert 当您处于未登录状态时亦可查询，但将仅会显示最重要信息，并且每分钟查询次数将被限制。
      //- 查询表单
      .row.text-justify.align-items-center
        .col-lg-2
          label.h4.d-none.d-xl-block(for="userQQInput1") 输入欲查询者QQ
        .col-lg-7
          input.col-lg-12.form-control.col-lg-8.d-none.d-xl-block#userQQInput1(type="text" placeholder="在此输入QQ")
        .col-lg-1
        .col-lg-2
          button.btn.btn-primary.btn-block.d-none.d-xl-block(onclick="search('userQQInput1')") 查询
          button.btn.btn-primary.btn-block.d-block.d-xl-none(onclick="j2where('/search')") 进入查询页面
