extends layout

block content
  //- 巨幕（头图
  script(src="/javascripts/index.js")
  .jumbotron.row
    .intro-box.col-lg-7
      h1.display-4 避雷针
      h5.lead 约稿避雷辅助工具
      //- button.btn.btn-outline-primary.d-none.d-xl-block 了解详情
    //- 用户信息
    .userInfo-box.col-lg-5
      .jumbotron.row.shadow#userInfo.login-box.d-none
        .avatar.col-4
          +outputAvatar(userInfo.avatarPath)
        .intro.col-4#intro
          +outputNickName(userInfo.nick)
          p#userGroup 
            +outputGroupName(userInfo.group)
          p#zzz
            +outputWelcome()
        .userCtrl.col-4.text-center
          button.btn.btn-primary.btn-block.btn-min.btn-userCtrl#btn-profile(onclick="j2where('/space')") 个人中心
          button.btn.btn-outline-secondary.btn-block.btn-min.btn-userCtrl#btn-logout(onclick="logout()") 登出
      .jumbotron.row.shadow#userInfo.no-login-box
        .col-8.welcome-box
          h3.text-center#welcome-text 您好，请登录~
        .userCtrl.col-4.tex-center
          button.d-none.d-xl-block.btn.btn-primary.btn-block.btn-min.btn-userCtrl#btn-profile(onclick="j2where('/login')") 登录
          button.d-none.d-xl-block.btn.btn-secondary.btn-block.btn-min.btn-userCtrl#btn-profile(onclick="j2where('/register')") 注册
          button.d-block.d-xl-none.btn.btn-primary.btn-block.btn-min.btn-userCtrl#btn-profile(onclick="j2where('/mlogin')") 登录
          button.d-block.d-xl-none.btn.btn-secondary.btn-block.btn-min.btn-userCtrl#btn-profile(onclick="j2where('/mregister')") 注册

            
  .search-model
    //- 查询模块
    div
      h3.d-none.d-xl-block 避雷查询
      .alert.alert-primary(role="alert")
        strong.alert-heading 信息
        p#alert 本工具主要功能是尽可能地减少甚至避免甲乙双方的各类损失，通过举报、审核、查询等的方式，尽可能地建设成为一个完善、数据量足够的黑名单系统，为圈子发展贡献一份力！
        strong#alert 如果您需要举报，请先登录。
      //- 查询表单
      .row.text-justify.align-items-center
        .col-lg-1
          label.h4.d-none.d-xl-block(for="userQQInput1") QQ
        .col-lg-7
          <input class="col-lg-12 form-control col-lg-8 d-none d-xl-block" id="userQQInput1" type="text" placeholder="在此输入QQ" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
        .col-lg-2
          button.btn.btn-danger.btn-block.d-none.d-xl-block.disabled#btn-report 举报
          button.btn.btn-danger.btn-block.d-block.d-xl-none.disabled#btn-j2report 进入举报页面
        .col-lg-2
          button.btn.btn-primary.btn-block.d-none.d-xl-block#btn-search(onclick="search('userQQInput1')") 查询
          button.btn.btn-primary.btn-block.d-block.d-xl-none#btn-j2search(onclick="j2where('/search')") 进入查询页面
    //- button(onclick="test()") test
