doctype html
html
  head
    meta(name="viewport". content='width=device-width, initial-scale=1.0')
    title= title
    
    //link(rel="stylesheet", href="/stylesheets/normal/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/normal/bootstrap.css")
    link(rel='stylesheet', href='/stylesheets/common.css')
    link(rel="stylesheet", href="/stylesheets/autoview.css")
    link(rel="stylesheet", href="/icons/bootstrap-icons.css")
    link(rel="stylesheet", href="/icons/font-awesome.css")

    include _includes/sharedHTMLfunctions

    //-.frame.row
      //-.null.col-xl-2
      //-.int.col-xl-8
    .container
      block content
      hr
      p &copy; YoooFur+工作室 2020-2021
      //-.null.col-xl-2

  footer
    script(src="/javascripts/normal/jquery.slim.min.js")
    script(src="/javascripts/normal/popper.min.js")
    //script(src="/javascripts/normal/bootstrap.min.js")
    script(src="/javascripts/normal/bootstrap.js")
    script(src="/javascripts/yf.js")