doctype html
html
  head
    meta(name="viewport". content='width=device-width, initial-scale=1.0')
    title= title
    
    //link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel="stylesheet", href="/stylesheets/font-awesome.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/autoview.css")
    //-.frame.row
      //-.null.col-xl-2
      //-.int.col-xl-8
    .container
      block content
      p &copy; YoooFur+工作室 2020-2021
      //-.null.col-xl-2

  footer
    script(src="/javascripts/jquery.slim.min.js")
    script(src="/javascripts/popper.min.js")
    //script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/bootstrap.js")