doctype html
html
  head
    -if(env!='dev'){
    meta(http-equiv="Content-Security-Policy" content="upgrade-insecure-requests")
    -}
    meta(name="viewport". content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"')
    title= title
    
    //link(rel="stylesheet", href="/stylesheets/normal/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/normal/bootstrap.css")
    link(rel='stylesheet', href='/stylesheets/common.css')
    link(rel="stylesheet", href="/stylesheets/autoview.css")
    link(rel="stylesheet", href="/icons/bootstrap-icons.css")
    link(rel="stylesheet", href="/icons/font-awesome.css")
    script(src="/javascripts/normal/jquery.min.js")
    script(src="/javascripts/normal/jquery.cookie.js")
    script(src="/javascripts/normal/popper.min.js")
    //script(src="/javascripts/normal/bootstrap.min.js")
    script(src="/javascripts/normal/bootstrap.js")
    script(src="/javascripts/msgAlertReturn.js")
    script(src="/javascripts/yf.js")

    include _includes/sharedHTMLfunctions

    //-.frame.row
      //-.null.col-xl-2
      //-.int.col-xl-8
    .container
      block content
      hr
      p &copy; YoooFur+工作室 2020-2021
      a#feedback(href="https://qm.qq.com/cgi-bin/qm/qr?k=IdEeN3_GFAOPTTn_4kI3UOaa9WrVyB0a&jump_from=webapi") 如果您遇到任何问题，欢迎点此反馈
      //-.null.col-xl-2

  footer
