html
  head
    -if(env!='dev'){
    meta(http-equiv="Content-Security-Policy" content="upgrade-insecure-requests")
    -}
    title= title
    include _includes/userCtrl
    link(rel="stylesheet", href="/stylesheets/log.css", attr)
    script(src="/javascripts/normal/jquery.min.js")
    script(src="/javascripts/normal/jquery.cookie.js")
    script(src="/javascripts/log.js")
  body
    .login
      +outputUserCtrlTitle(enter)
      .alert.alert-success.d-none(role="alert")
        p#alert
      .form
        +outputUserCtrlForm(enter)
        +outputUserCtrlButton(enter)
