extends layout

block content
    link(rel="stylesheet", href="/stylesheets/profile.css")
    script(src="/javascripts/profile_space.js")
    .row
        //- 嵌套还是用了原版html XD
        <h3><i class="fa fa-angle-left btn-back" aria-hidden="true" onclick="j2where('/')"></i>    #{userInfo.nick}</h3>
    hr

    //- 个人信息（头像位
    .container
        .row
            .col-lg-8.col-xs-12
                dl
                    h4 用户组
                    label.db
                        +outputGroupName(userInfo.group)
                    +outputGroupIntro(userInfo.group)

            .col-lg-4.col-xs-12
                dt
                    +outputAvatarHD(userInfo.avatarPath)
                    +outputXbtn(userInfo.group)
                    button.btn.btn-outline-primary.btn-block.db#btn-avatar(onclick="j2where('/profile')") 编辑信息
    