mixin outputUserCtrlTitle(enter)
      - if (enter==="login"){
      h2 用户登录
      - }
      - if (enter==="register"){
      h2 用户注册
      - }

mixin outputUserCtrlAlertError(enter)
      - if (enter==="login"){
      p#alert 用户名或密码错误
      - }
      - if (enter==="register"){
      p#alert 用户名或邮箱已存在
      - }

mixin outputUserCtrlAlertSuccess(enter)
      - if (enter==="login"){
      p#alert 登录成功，正在跳转...
      - }
      - if (enter==="register"){
      p#alert 注册成功，正在跳转...
      - }

mixin outputUserCtrlForm(enter)
      - if (enter==="login"){
        .login_box
            input#username(type="text" required="required")
            label 用户名 / 邮箱
        .login_box
            input#password(type="password" required="required")
            label 密码
      - }
      - if (enter==="register"){
         .login_box
            input.username(type="text" required="required")
            label 用户名（用于登录，仅限英文与数字）
         .login_box
            input.nick(type="text" required="required")
            label 昵称（建议使用圈名）
         .login_box
            input.email(type="text" required="required")
            label 邮箱
         .login_box.d-none
            input.email_code(type="text" required="required")
            label 邮箱验证码
         .login_box.d-none
            input.QQ(type="text" required="required")
            label QQ
         .login_box.d-none
            input.password(type="password" required="required")
            label 密码
         .login_box.d-none
            input.d-password(type="password" required="required")
            label 确认密码
      - }

mixin outputUserCtrlButton(enter)
        - if (enter==="login"){
            button(onclick="login()") 登录
        - }
        - if (enter==="register"){
            button.send(onclick="sendEmail()") 发送邮箱验证码
            button.verify.d-none(onclick="verify()") 验证
            button.register.d-none(onclick="register()") 注册
        -}